# dotenv
.env
.env.local

# virtualenv
.venv
venv/
ENV/

#idea
.idea/

*.sqlite*

**/indexes/

# VSCode
.vscode
.vscode/
.vscode/settings.json

# data
mongodb_data/
neo4j_data/
data/
# data/*
# !data/toLoad/
# bin/*
# !bin/Dockerfile